body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header img {
    width: 100px;
    border-radius: 50%;
}

.main-menu a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.content-region {
    display: none; /* Initially hide all sections */
    padding: 20px;
    margin: 10px;
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
